body{
  margin:0;
  padding:0;
}


/* 스크롤 막대 숨기기 */
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "NotoSans";        
  src: url("./fonts/NotoSansKR-Regular.otf"); 
}

@font-face {
  font-family: "NotoSansBold";        
  src: url("./fonts/NotoSansKR-Bold.otf"); 
}
